extends layout
block content
    div(class='jumbotron')
      h1 Admin control panel
      p Use the links on the left for navigation <br />
      p Built as a simple CRUD demonstration using express/pug/mongoDB
      p Rayner